html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
}

#angler_animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1350px;
    height: 600px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-image: url("../Images/91865587-cartoon-sea-ocean-the-seabed-for-the-game-horizontal-seamless-coral-reef-nautical-background-vector-.jpg");
    margin: auto;
}

#animation_container {
    width: 1345px;
    height: 595px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.fish {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
}
