html { 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: sans-serif;
}

#angler_animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1300px;
    height: 600px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-image: url("../Images/d40506d2c691b53284269f7c2cf44151.png");
    margin: auto;
}

#animation_container {
    width: 1295px;
    height: 595px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    margin: auto;
}

.fish {
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    
}

.yellowFish {
    background-image: url("../Images/yellowFish.png");
}

.redFish {
    background-image: url("../Images/redFish.png");
}

.blueFish {
    background-image: url("../Images/blueFish.png");
}

.pinkFish {
    background-image: url("../Images/pinkFish.png");
}

.greenFish {
    background-image: url("../Images/greenFish.png");
}

.orangeFish {
    background-image: url("../Images/orangeFish.png");
}

.greyFish {
    background-image: url("../Images/greyFish.png");
}

.purpleFish {
    background-image: url("../Images/purpleFish.png");
}

.net {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    background-image: url("../Images/net.png"); 
}
.hook {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
    background-image: url("../Images/hook.png")
}

.score{
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
}
.time{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.start{
    display: block;
    padding-top: 3%;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    cursor: pointer;
    top: 400px;
    left: 400px;
}

.start .high_scores{
    text-align: left;
}
